.title {
    text-align: center;
    padding: 3rem;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center ;
    margin: 0 10rem;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(5, 300px);
    place-items: center;
    gap: 1rem 1rem;
}

.grid-item {
    width: 300px;
}

.food-img {
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
}

.recipe-link {
    text-decoration: none;
}

.recipe-link:hover {
    border: 5px solid black;
}