:root {
    --bg-color: #f9f6ee;
    --text: #131007;
}

* {
    font-family: 'Georgia', sans-serif;
    background-color: var(--bg-color);
    color: var(--text);
}

a {
    text-decoration: none;
}

a:hover {
    border: 5px solid black;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    font-style: italic;
    background-repeat: no-repeat;
    background-size: cover;
    shape-margin: 1rem;
}

.title {
    text-align: center;
    padding: 3rem;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem 1rem;
}