:root {
    --bg-color: #f9f6ee;
    --text: #131007;
}

* {
    font-family: 'Georgia', sans-serif;
    background-color: var(--bg-color);
    color: var(--text);
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    font-style: italic;
    background-repeat: no-repeat;
    background-size: cover;
    shape-margin: 1rem;
}